html, body {
  margin: 0;
  padding: 0;
  background: #000 !important;
}
#loader-scene > .welcome {
  display: none !important;
}
#loader-scene > .loader-container {
  display: none !important;
}
#loader-scene > #enter-button {
  display: none !important;
}
.incommon-loader {
  text-align: center;
}
#header-container {
  display: none !important;
}
#nav-inner {
  display: none;
}
#selection-icons {
  display: none !important;
}
#canvas-target {
  top: 0 !important;
}
.incommon-filters-container{
  color: white;
}
.incommon-filters-container.incommon-some-filters-active{
  color: #6c757d;
}
.incommon-filters-container .incommon-active{
  color: white;
}
.incommon-filters {
  padding-left: 25px;
  padding-right: 25px;
}
.incommon-filter-intro {
  margin-top: 50px;
  margin-bottom: 30px;
  text-decoration: underline;
}
.incommon-provider-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* .incommon-provider-text {
} */
.incommon-provider-count {
  margin-left: 10px;
  display: none!important;
}
nav {
  padding: 0 !important;
  background-color: black !important;
  border-right: 0.5px solid #555555;
  width: 300px !important;
}
#canvas-container {
  left: 255px !important;
}
