html, body {
  background: #000 !important;
}
#loader-scene > .welcome {
  display: none !important;
}
#loader-scene > .loader-container {
  display: none !important;
}
#loader-scene > #enter-button {
  display: none !important;
}
.incommon-loader {
  text-align: center;
}
#header-container {
  display: none !important;
}
#nav-inner {
  display: none;
}
#selection-icons {
  display: none !important;
}
.incommon-active {
  color: #D92100;
}
.incommon-filters {
  padding-left: 25px;
  padding-right: 25px;
}
.incommon-filter-intro {
  margin-top: 50px;
  margin-bottom: 30px;
  text-decoration: underline;
}
.incommon-provider-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* .incommon-provider-text {
} */
.incommon-provider-count {
  margin-left: 10px;
}
nav {
  padding: 0 !important;
  background-color: black !important;
  border-right: 0.5px solid #555555;
  width: 300px !important;
}
#canvas-container {
  left: 255px !important;
}
