.raggruppa-button {
  padding: 20px 15px 20px 15px;
  border-right: 0.5px solid #555555;
  border-bottom: 0.5px solid #555555;
  font-size: 14px;
  letter-spacing: 0.45px;
}

.count-documents {
  font-size: 15px;
  padding: 20px;
}

.reset-filtri {
  border-bottom: 0.5px solid #555555;
  padding: 20px;
  font-size: 15px;
}

.filters {
  font-size: 18px;
  padding: 24px;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.filters::-webkit-scrollbar{
  display: none;
}

.search-filter {
  padding: 15px;
  width: 100%;
  border-bottom: 0.5px solid #555555;
}

.filters-active {
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  align-content: flex-start;
  border-bottom: 0.5px solid #555555;
}

.filters-active::-webkit-scrollbar{
  display: none;
}


.filters-active > span {
  border: 1px solid #fff;
  height: 22px;
  cursor: pointer;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 16px;
  margin-bottom: 10px;
  display: table-cell;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.block-filters{
  width: 25%;
  border-right: 0.5px solid #555555;
  padding-bottom: 30px;
}

.block-catalogo {
  width: 75%;
  overflow: auto;
  align-content: flex-start;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.block-catalogo::-webkit-scrollbar{
  display: none;
}

.search-input{
  background-color: #000;
  border: none;
  color: #FFF;
}

input::placeholder{
  color: #FFF;
}

input:focus {
  outline: none !important;
}

.w-55{
  width: 55%;
}

.w-45{
  width: 45%;
}