.body-document{
  width: 75%;
  overflow: hidden;
  height: calc(100vh - 59px);
}

.header-images{
  padding: 20px;
  border-bottom: 0.5px solid #555555;
}

.filter-block{
  padding-bottom: 24px;
  color: #000000;
}

.zoom-buttons{
  color: #686868;
}

.zoom-buttons:hover{
  color: #FFF !important;
}

.img-document{
  overflow: auto;
  height: 100%;
}
