.TopHome {
  padding-top: 54px;
  padding-left: 61px;
  padding-right: 61px;
}

.block-text-home {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: #ffffff;
}



.HomePages {
  margin-top: 32px;
}

.page-home {
  border-top: 1px solid #ffffff;
  display: flex;
  height: 110px;

  /* align-items: center; */
  cursor: pointer;
  overflow: hidden;
  transition: height ease-out 0.5s;
}

.page-home-open {
  border-top: 1px solid #ffffff;
  display: flex;
  cursor: pointer;
  height: 501px;
  transition: height ease-out 0.5s;

}

.last-item-menu {
  border-bottom: 1px solid #ffffff;
}

.page-home-open > .text-page-home {

  padding-left: 61px;
  width: 50%;
  padding-right: 5%;
  background-color: black;
}

.page-home > .text-page-home {
  padding-left: 61px;
  width: 50%;
  background-color: black;
}

.image-block {
  width: 50%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title-page-home {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.03em;
  padding-top: 30px;
}


.esplora-home {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 56px;
}

.esplora-home:hover {
  color: #ffffff;
  margin-top: 16px;
}

.description-page-home {
  padding-top: 16px;
  padding-bottom: 32px;
  font-size: 36px;
  line-height: 46px;
  font-style: normal;
  font-weight: normal;
}

.first-circle {
  transform: translateY(-60px);
  transition: all 0.7s ease-in-out;
}

.second-circle {
  transform: translateY(80px);
  transition: all 0.7s ease-in-out;
}

.ContainerSvg {
  position: relative;
}

.footer {
  padding-top: 76px;
  padding-bottom: 56px;
  padding-left: 61px;
  padding-right: 61px;
  background-color: black;
}

.label-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.text-project {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.05em;
  margin-left: 35px;
  width: 260px;
}

.copyright-text-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  margin-top: 45px;
  letter-spacing: 0.03em;
}

.ml-30 {
  margin-left: 30px;
}


@media screen and (max-width: 1200px){
    .title-page-home, .description-page-home {
    font-size: 25px;
    line-height: 37px;
    padding-top: 35px;
     }
}

@media screen and (max-width: 1200px){
    .esplora-home {
    font-size: 20px;
    line-height: 40px;
     }
}

@media screen and (max-width: 1200px){
    .text-page-home img {
width: 19px
     }
}


@media screen and (max-width: 1200px){
  .page-home-open {
    height: 421px;
  }
}
