.block-left{
  width: 25%;
  height: 100vh;
  border-right: 0.5px solid #555555;
}

.block-center{
  width: 30%;
  height: 100vh;
  border-right: 0.5px solid #555555;
}

.block-right{
  width: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.text-home{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.credits {
  position: absolute;
  bottom: 20px;
  width: 25%;
  left:0px;
}

.item-menu{
  border-bottom: 0.5px solid #555555;
  border-top: 0.5px solid #5b5b5b;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: auto;
  color: #FCFCFC;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
}

.item-menu:hover{
  border-bottom: 0.5px solid #5b5b5b;
  border-left: 0.5px solid #5b5b5b;
  border-right: 0.5px solid #5b5b5b;
  border-top: 0.5px solid #5b5b5b;
  font-style: normal;
  font-weight: normal;
  color: #FCFCFC;
}

.item-description{
  text-align: left;
  padding-left: 24px;
  width: 95%;
  padding-top: 60px;
  padding-bottom: 130px;
  padding-right: 64px;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.4s; /* Firefox < 16 */
        -ms-animation: fadein 0.4s; /* Internet Explorer */
         -o-animation: fadein 0.4s; /* Opera < 12.1 */
            animation: fadein 0.4s;
}



.explore-button {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.02em;
  -webkit-text-stroke: 2px #FCFCFC;
  color: transparent;
}

.explore-button:hover {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  letter-spacing: 0.02em;
  color: #FCFCFC;
  text-decoration: none;
}

.rotate-show-hide {
  transform: rotate(180deg);
}
