.TopHome {
  padding-top: 54px;
  padding-left: 61px;
  padding-right: 61px;
}

.block-text-home {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.HomePages {
  margin-top: 32px;
}

.page-home {
  border-top: 1px solid #ffffff;
  display: flex;
  height: 170px;
  /* align-items: center; */
  cursor: pointer;
  overflow: hidden;
}

.page-home-open {
  border-top: 1px solid #ffffff;
  display: flex;
  cursor: pointer;
  height: max-content;
  align-items: center;
}

.text-page-home {
  padding-left: 61px;
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
}

.image-block {
  width: 60%;
}

.title-page-home {
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: 0.03em;
}

.esplora-home {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 56px;
}

.esplora-home:hover {
  color: #ffffff;
  margin-top: 16px;
}

.description-page-home {
  padding-top: 16px;
  padding-bottom: 32px;
  font-size: 36px;
  line-height: 46px;
  font-style: normal;
  font-weight: normal;
}
