.PannelloInfo{
    top: calc(var(--topbar-height) - 1px);
    padding-bottom: 20px;
    padding-top: 80px;
    width: 100%;
    background: #000000;
    position: absolute;
    left: 0;
    height: calc(100vh - var(--topbar-height) - 1px);
    right: 0;
    overflow-y: auto;
    z-index: 2000;
}

.PannelloInfo > div {
    font-size: 40px;
    letter-spacing: 0.8px;
    line-height: 48px;
    padding-left: 260px;
    padding-right: 260px;
}

.title-panel {
    color: rgb(217, 33, 0);
}
