.block-left-detail{
  background: #FCFCFC;
  width: 25%;
}

.block-info-document{
  padding: 15px 24px 15px 24px;
  border-bottom: 0.5px solid #555555;
}

.title-document{
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  color: #050500;
  padding-bottom: 24px;
}

.description-document{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-bottom: 32px;
}

.info-box{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 23px;
}

.block-filters-detail{
  padding: 24px;
  overflow: auto;
  height: 100%;
}

.label-filter{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #000000;
}

.filter-block-document{
  padding-bottom: 12px;
  color: #000000;
}
