@import "styles/fonts.css";

body {
    background: black;
    color: white;
    font-family: FormaDJRMicro;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4em;
}

.pointer {
  cursor: pointer;
}
