@import 'styles/fonts.css';

body {
  background: black;
  color: white;
  font-family: FormaDJRMicro;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4em;
}

.pointer {
  cursor: pointer;
}

.text-red {
  color: #d92100;
}

.circle-filter {
  margin-top: 8px;
  border: 1px solid #d92100;
  border-radius: 16px;
  color: #d92100;
  font-size: 16px;
  line-height: 19px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;
  width: fit-content;
}




.node-label {
  position: absolute;
  pointer-events: none;
  color: white;
  /* z-index: 10; */
}
